<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />

</head>
<body>

<div class="div1"></div>
<div class="div2">
    <div class = "nav_bar">
      <ul>
          <li><a href="http://localhost:8080/test/" id = "onlink">Обзор</a></li>
          <li><a href="http://localhost:8080/test/sql">SQL</a></li>
          <li><a href="http://localhost:8080/test/search_delete">Поиск</a></li>
          <li><a href="http://localhost:8080/test/put">Вставить</a></li>
      </ul>
    </div>
    <div class="main_container">
        <p>This is view page</p>
    </div>

</div>
<div class="footer"></div>


</body>
</html>